{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="card">
    <div class="project-card">
      <img
        class="img-fluid"
        src="{{results.image}}"
        alt=""
        style="height: 900px; width: 100%"
      />
    </div>
    <a href="{{results.link}}" target="_blank" class="proj-btn">
      <button class="btn btn-devaw" style="max-width: 250px">Visit Site</button>
    </a>
    <div class="container mt-5">
      <div class="project-wrapper row row-cols-md-2 row-cols-sm-1">
        <div class="left col-5">
          <img
            class="img-fluid"
            src="{{results.image}}"
            alt=""
            style="max-height: 600px; width: 90%"
          />
        </div>
        <div class="right col-5">
          <h2 class="mb-4">About This Project</h2>
          <h3>{{results.title}}</h3>
          <p>{{results.description}}</p>
          <h3>Give your rating</h3>
          <form method="post">
            {% csrf_token %} {{ form }}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
